{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Bosh Sarlavha -->
<header class="mainHeadingHead text-center position-relative bgCover w-100 d-flex text-white" style="background-image: url({% static 'images/img163.jpg' %});">
    <div class="mhhAlignHolder d-flex w-100 align-items-center position-relative">
        <div class="container py-6">
            <h1 class="text-white mb-0">A'zolik</h1>
        </div>
    </div>
</header>

<!-- A'zolik Bloki -->
<article class="joiningBlock pt-8 pb-5 pt-lg-13 pb-lg-10 pt-xl-21 pb-xl-15">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <div class="extraWrap px-md-6">
                    <h2 class="mb-5">Klubga a'zo bo‘ling!</h2>

                    <!-- Tavsif -->
                    <div class="eabDescrText eabDescrTextII fontSerif">
                        <p class="mb-5">San'at va tarix muzeyiga a’zo bo‘ling, qo‘llab-quvvatlang va yil davomida bir qator imtiyozlarga ega bo‘ling.</p>
                    </div>

                    <!-- Imtiyozlar -->
                    <div class="eabDescrText eabDescrTextV">
                        <p class="mb-2">Barcha a’zolar uchun imtiyozlar:</p>
                    </div>

                    <!-- Ro‘yxat -->
                    <ul class="bulletList bulletListIII list-unstyled mb-8 mb-lg-11">
                        <li>Chiptali tadbirlarga chegirma asosida kirish</li>
                        <li>San’at va tarix muzeyi do‘konida 10% chegirma</li>
                        <li>“Do‘stlar” tadbirlariga taklifnomalar</li>
                        <li>To‘lovli ko‘rgazmalarga bepul kirish</li>
                        <li>Joriy ko‘rgazma kataloglari sovg‘a tariqasida</li>
                        <li>Mehmonlar uchun atigi $5 kirish narxi</li>
                    </ul>

                    <div class="row mb-2">
                        <!-- Individual -->
                        <div class="col-12 col-sm-6 d-flex">
                            <article class="memberColumn w-100 border text-center text-gray777 position-relative mb-6 mb-lg-8 ">
                                <header class="mcHead bg-grayf9f9f9 border-bottom">
                                    <h2 class="fontBase mb-0 py-3 px-2">Yakka tartibdagi</h2>
                                </header>
                                <div class="descrWrap pt-4 px-4 pb-8">
                                    <i class="icnWrap d-flex align-items-center justify-content-center rounded-circle mx-auto icomoon-user mb-3"><span class="sr-only">icon</span></i>
                                    <h3 class="mb-4">£50<span class="textSmall fontBase text-gray777">/yil</span></h3>
                                    <p class="mb-7">Faqat a’zolarga mo‘ljallangan tadbirlarga taklif, ro‘yxatdan o‘tishda ustunlik va chegirmalar.</p>
                                </div>
                            </article>
                        </div>

                        <!-- Household/Dual -->
                        <div class="col-12 col-sm-6 d-flex">
                            <article class="memberColumn w-100 border text-center text-gray777 position-relative mb-6 mb-lg-8 ">
                                <header class="mcHead bg-grayf9f9f9 border-bottom">
                                    <h2 class="fontBase mb-0 py-3 px-2">Oilaviy / Ikkilik</h2>
                                </header>
                                <div class="descrWrap pt-4 px-4 pb-8">
                                    <i class="icnWrap d-flex align-items-center justify-content-center rounded-circle mx-auto icomoon-layers mb-3"><span class="sr-only">icon</span></i>
                                    <h3 class="mb-4">£100<span class="textSmall fontBase text-gray777">/yil</span></h3>
                                    <p class="mb-7">Kurator va rassomlar tomonidan olib boriladigan ekskursiyalarga bepul kirish, boshqa muzeylar imtiyozlari va boshqalar.</p>
                                </div>
                            </article>
                        </div>

                        <!-- Lifetime -->
                        <div class="col-12 col-sm-6 d-flex">
                            <article class="memberColumn w-100 border text-center text-gray777 position-relative mb-6 mb-lg-8 ">
                                <header class="mcHead bg-grayf9f9f9 border-bottom">
                                    <h2 class="fontBase mb-0 py-3 px-2">Umrbod</h2>
                                </header>
                                <div class="descrWrap pt-4 px-4 pb-8">
                                    <i class="icnWrap d-flex align-items-center justify-content-center rounded-circle mx-auto icomoon-breifcase mb-3"><span class="sr-only">icon</span></i>
                                    <h3 class="mb-4">£150<span class="textSmall fontBase text-gray777">/yil</span></h3>
                                    <p class="mb-7">Kurator va rassomlar tomonidan olib boriladigan ekskursiyalarga bepul kirish, boshqa muzeylar imtiyozlari va boshqalar.</p>

                                </div>
                            </article>
                        </div>

                        <!-- Company -->
                        <div class="col-12 col-sm-6 d-flex">
                            <article class="memberColumn w-100 border text-center text-gray777 position-relative mb-6 mb-lg-8 ">
                                <header class="mcHead bg-grayf9f9f9 border-bottom">
                                    <h2 class="fontBase mb-0 py-3 px-2">Kompaniya</h2>
                                </header>
                                <div class="descrWrap pt-4 px-4 pb-8">
                                    <i class="icnWrap d-flex align-items-center justify-content-center rounded-circle mx-auto icomoon-smiley mb-3"><span class="sr-only">icon</span></i>
                                    <h3 class="mb-4">£200<span class="textSmall fontBase text-gray777">/yil</span></h3>
                                    <p class="mb-7">Faqat a’zolarga mo‘ljallangan tadbirlarga taklif, ro‘yxatdan o‘tishda ustunlik va chegirmalar.</p>
                                </div>
                            </article>
                        </div>
                    </div>


                    <p class="mb-6">San’at va tarix muzeyidagi imkoniyatlar va qulayliklar haqida barcha ma’lumotlarni bilib oling. Savollar, fikrlar yoki takliflaringiz bo‘lsa, bizga <a href="tel:+6179876543" class="textDecorationNone colorInherit">+(617) 987-6543</a> raqamiga qo‘ng‘iroq qiling yoki <a href="mailto:contact@artandhistory.org.au" class="textDecorationNone colorInherit">contact@artandhistory.org.au</a> manziliga yozing.</p>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock %}
